body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f8ff; /* Changed to light blue (AliceBlue) */
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    max-width: 1000px;
    margin: 30px auto;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

/* Sidebar (Left Column) */
.sidebar {
    background-color: #f4f7f6;
    width: 35%;
    padding: 30px;
    text-align: center;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #fff;
    box-shadow: 0 0 15px rgba(0, 90, 156, 0.5); /* Added a blue colored shadow */
}

.sidebar h1 {
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 1.8em;
}

.sidebar h3 {
    margin-top: 0;
    font-weight: 300;
    color: #555;
}

.contact-info {
    list-style-type: none;
    padding: 0;
    margin-top: 30px;
    text-align: left;
}

.contact-info li {
    margin-bottom: 15px;
    word-wrap: break-word;
}

/* Main Content (Right Column) */
.main-content {
    width: 65%;
    padding: 30px;
}

.section {
    margin-bottom: 30px;
}

.section h2 {
    border-bottom: 2px solid #005A9C;
    padding-bottom: 10px;
    margin-bottom: 20px;
    color: #005A9C;
}

.section p, .section li {
    line-height: 1.6;
}

.education-item h4 {
    margin-bottom: 5px;
}

.education-item p {
    margin: 5px 0;
}
